<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev.ext.asansor">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/deneme"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.dev.ext.asansor.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.dev.ext.asansor.Schedule.MyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name="com.dev.ext.asansor.GirisActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.TahsilatYapActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.TahsilatYapPostActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.ArizaTanimlamaActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.ArizaTanimlamaPostActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.YapilacakBakimlarActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.BekleyenArizalarActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.BakimActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.BakimSecActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.QRCodeArizaActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.BakimDurumActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.ArizaSecActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.ArizaActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.QRCodeBakimActivity" />
        <activity android:name="com.dev.ext.asansor.BarcodeActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.ArizaOnarimDonemTarihiSecActivity" />
        <activity android:name="com.dev.ext.asansor.Activities.BakimDonemTarihiSecActivity" />
        BakimDonemTarihiSecActivity
        <activity android:name="com.dev.ext.asansor.Activities.BakimEksiklikleriActivity"></activity>
    </application>

</manifest>